<div class="space-y-6 mt-6 flex flex-col gap">
  <%= for collection <- @collections do %>
    <.card variant="outline" color="dark" rounded="large" padding="medium">
      <.card_title position="start"><%= collection.name %></.card_title>
      <.divider type="dashed" />
      <.card_content space="medium" padding="none">
      <p class="text-sm"><%= collection.description || "Keine Beschreibung" %></p>
      <p class="text-sm">🔗 Webhook: <%= collection.webhook_url %></p>

      <div class="flex gap-4 text-sm">
        <span>⬅️ Left Items: <%= Enum.count(collection.left_items) %></span>
        <span>➡️ Right Items: <%= Enum.count(collection.right_items) %></span>
      </div>

      <div class="flex gap-2">
        <.button phx-click="edit_collection" phx-value-id={collection.id}>Bearbeiten</.button>
        <.button phx-click="run" phx-value-id={collection.id} class="bg-indigo-600 text-white">Match starten</.button>
      </div>
      </.card_content>
    </.card>
  <% end %>

  <!-- Neue Collection Card -->
  <.card variant="outline" color="dark" padding="large">
    <.card_title space="medium" padding="medium" position="center">
      <.button phx-click="new_collection" variant="outline">➕ Neue Collection anlegen</.button>
    </.card_title>
    </.card>

  <%= if @show_modal do %>
  <p class="text-red-600 font-bold">MODAL ON</p>
  <% end %>

<%= if @show_modal do %>
    <.live_component
      module={MatchMakerWeb.CollectionFormComponent}
      id="collection-form"
      collection={@collection}
      action={@form_action}
      show_modal={@show_modal}
    />
  <% end %>
  <div id="scroll-restorer" phx-hook="RestoreScroll" />
</div>
