<!-- <section class="flex justify-center content-center mt-20"> -->
<!--   <.button icon="hero-arrow-right-circle"> -->
<!--     <.link title="Google" href={~p"/auth/google"}>Sign in with Google</.link> -->
<!--   </.button> -->
<!-- </section> -->
