<section class="mt-10 flex justify-center">
  <.card>
    <.card_content class="flex items-center flex-col justify-center h-full">
      <.h2>Please sign in</.h2>
    </.card_content>
  </.card>
</section>
